{% extends "base.html" %}
{% block content %}
<h1>Homepage</h1>
    {% for each in apple2 %}
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{each.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{each.contact}}</h6>
        <p class="card-text">{{each.address}}</p>
        <a href="{{url_for('edit',current_id=each['_id'])}}" class="card-link">Edit</a>
        <a href="{{url_for('delete',current_id=each['_id'])}}" class="card-link">Delete</a>
      </div>
    </div>
    {% endfor %}

{% endblock %}